h2{
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    font-weight: bold;
    font-style: normal;
    color: rgba(46, 4, 95, 0.897);
}

p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    font-style: normal;
}
body{
    background-image: url("narwhal.jpeg"); background-repeat: no-repeat;
}